# Logs
logs/
*.log

# Test artifacts
test-results/
playwright-report/
screenshots/
storage/
har/
*.png

# Environment
.env

# Dependencies
node_modules/
package-lock.json

# IDE
.vscode/
*.code-workspace

# Other
log/
*.har
launch.json
suppression.xml
quarantine/
mcp.json